.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  width: 33%;
  margin: 40px 630px;
  text-align: center;
  border: 8px solid #7b128e;
  position: relative;
}

.cardContainer h1 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.backgroundImageContainer {
  background-image: url("https://wallpapers.com/images/hd/rick-and-morty-looking-at-the-night-sky-tr8wxryct280wstz.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 99vh;
  width: 100%;
  padding-top: 1em;
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.characterImage {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  padding: 20px;
  margin: 20px;
}

.textContainer {
  text-align: center;
  color: whitesmoke;
}

.detailContainer {
  color: whitesmoke;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}
