.App {
   text-align: center;     
};

.homeBackground {
   background-color: red;
   background-size: cover;
   background-position: center;
   
 }
 
 /* Fondo para la página "/home" */
 .root-background {
   background-color: red;
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
 }


