.container {
  position: relative;
  border: 8px solid #3c1642;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/806/465/desktop-wallpaper-rick-and-morty-phone-rick-and-morty-portal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 20%;
  height: auto;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-width: 250px;
}

h3 {
  color: #791a87;
  margin: 0px;
}

.container:hover {
  box-shadow: 0 0 20px rgb(175, 175, 175);
  transform: scale(1.05);
  border: 8px solid #63236d;
}

.container .buttonContainer {
  display: flex;
  justify-content: space-between;
}

.container .buttonContainer button {
  width: 50px;
  height: 40px;
  border-radius: 3px;
  background-color: pink;
  color: red;
  box-shadow: 0 2px 2px black;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.container .buttonContainer button:hover {
  background-color: rgb(215, 158, 166);
  color: pink;
  box-shadow: 0 2px 2px white;
}

.container .dataContainer {
  text-align: center;
  padding: 5px;
}

.container .dataContainer h2 {
  background-color: #b2ff9e;
  border: 5px solid #b2ff9e;
  border-radius: 10px;
  margin: 2px;
  font-size: 20px;
  color: #08893b;
  opacity: 0.7;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.container .dataContainer h4 {
  text-align: center;
  background-color: #b2ff9e;
  border: 5px solid #b2ff9e;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  color: #08893b;
  opacity: 0.7;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

h4.Top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h4.Bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dataContainer h4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #b2ff9e;
}

.container img {
  max-width: 100%;
  height: auto;
  border: 4px solid #3c1642;
  border-radius: 50%;
  box-shadow: 0 5px 5px lightgrey;
  margin-top: 1px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container:hover .buttonContainer button {
  box-shadow: 0 2px 2px white;
}

.container:hover .dataContainer h2 {
  background-color: #d4fcc9;
  border-color: #d4fcc9;
}

.container:hover .dataContainer h4 {
  color: #08893b;
  background-color: #d4fcc9;
  border-color: #d4fcc9;
}

.container:hover img {
  border-color: #a821bd;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    font-size: 14px;
    margin: 2px;
  }

  .container .dataContainer h2 {
    font-size: 16px;
  }

  .container .dataContainer h4 {
    font-size: 12px;
  }
}
