.container {
  color: white;
  background-color: rgba(6, 5, 5, 0.5);
  border-radius: 10px;
  width: auto;
  max-width: 80%; /* Ajusta el ancho máximo del formulario */
  height: auto;
  padding: 6px;
  position: fixed; /* Cambia la posición a fija */
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0; /* Elimina el margen superior */
}

.container input {
  border-radius: 5px;
  height: 20px;
  margin: auto;
  display: block;
}

.container button {
  margin-top: -5px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  color: whitesmoke;
  background-color: 27374D;
  box-shadow: 0 5px 5px black;
  &:hover {
    color: white;
    background-color: #536986;
    box-shadow: 3px white;
  }
}

.error {
  color: pink;
}

@media (max-width: 768px) {
  .container {
    width: 100%;    
  }
}

@media (max-width: 480px) {
  .container input,
  .container button {
    width: 100%;
  }
}
