.favContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .favContainer {
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .favContainer {
    justify-content: flex-start;
  }
}
