.backgroundImageContainer {
  background-image: url("https://images8.alphacoders.com/998/998795.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(40, 33, 33, 0.8);
  backdrop-filter: blur(1px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  height: auto;
  text-align: center;
  color: whitesmoke;
}

.card h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
}

.homeButton {
  position: center;
  margin-top: 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 8%;
  cursor: pointer;
}

.parent {
  position: center;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.child {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 1em;
}

.child:last-child {
  margin-bottom: 0;
}

.child:hover {
  background-color: white;
  transform: rotate3d(0.1, 0, 0);
  box-shadow: 0px 10px 10px rgb(216, 220, 230);
}

.btn {
  border: none;
  background-color: rgb(246, 246, 248);
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 1px) perspective(80px) rotateX() translateY();
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 468px) {
  .backgroundImageContainer {
    height: auto;
    min-height: 100vh;
  }

  .card {
    width: 100%;
  }

  .buttonContainer {
    height: auto;
  }

  .parent {
    flex-direction: row;
  }

  .child {
    width: 40px;
    height: 40px;
  }

  .homeButton {
    position: static;
  }
}

